<p>
  The Melbourne Compiler Meetup is a brand new event for anyone interested in compilers, programming language design, virtual machines, and everything in between!
</p>

<p>
  Whether you're deeply knowledgeable or just getting started, we'd love to have you along to talk, share and learn.
</p>

<p>
  The first event will be an informal meet and greet of some sort. Details are still being sorted out so watch this space!
</p>
