body {
    font-family:Verdana, Arial, sans-serif;
    font-size:14px;
    color:#3B3737;
}

.container {
    width:600px;
    margin:48px auto;
}

h1, h2, p {
    margin-bottom:16px;
}

h1, h2 {
    font-family:Georgia, "Times New Roman", serif;
    color:#7C8E3F;
}

h1 {
    border-bottom:1px solid #92A078;
    font-size:40px;
    font-weight:normal;
    text-align:center;
    padding-bottom:8px;
    text-transform:lowercase;
    a {
        text-decoration:none;
        color:#7C8E3F;
        &:hover {
            color:#92A078;
        }
    }
}

p {
    line-height:24px;
}

ul {
    padding-left:16px;
}
